<html>
    <head>
        <title>Clipbored</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/main.css" />
        <link rel="stylesheet" type="text/css" href="../resources/css/font-awesome.min.css" />        
    </head>
    <body>        
        <div id="searchBox"><input type="text" id="searchInput" placeholder="Search..."></div>
        <div id="content">
            <ol id="list"></ol>
        </div>
        <script>require("../modules/renderer")</script>
    </body>
</html>